#ns {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.15);
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #eee;
  border-color: #eee;
  color: #444;
}
#ns:not([disabled]):hover,
#ns:not([disabled]):focus {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
#ns:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(238,238,238,0.25);
}
#ns:not([disabled]):active {
  border-color: #d6d6d6;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#ns.hollow {
  background-color: transparent;
  border-color: #444;
  color: #292929;
}
#ns.hollow:hover,
#ns.hollow:focus {
  border-color: #444;
  background-color: #dadada;
}
#ns:hover,
#ns:focus {
  outline: 0;
  text-decoration: none;
}
#ns:active {
  background-image: none;
  outline: 0;
}
#ns:disabled,
#ns[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.5;
}
#ns.primary {
  background-color: #2693b3;
  border-color: #2693b3;
  color: #fff;
}
#ns.primary:not([disabled]):hover,
#ns.primary:not([disabled]):focus {
  background-color: #2284a1;
  border-color: #2284a1;
}
#ns.primary:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(38,147,179,0.25);
}
#ns.primary:not([disabled]):active {
  border-color: #2284a1;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#ns.primary.hollow {
  background-color: transparent;
  border-color: #2693b3;
  color: #17586b;
}
#ns.primary.hollow:hover,
#ns.primary.hollow:focus {
  border-color: #2693b3;
  background-color: #cfecf5;
}
#ns.success {
  background-color: #28bd35;
  border-color: #28bd35;
  color: #fff;
}
#ns.success:not([disabled]):hover,
#ns.success:not([disabled]):focus {
  background-color: #24aa30;
  border-color: #24aa30;
}
#ns.success:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(40,189,53,0.25);
}
#ns.success:not([disabled]):active {
  border-color: #24aa30;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#ns.success.hollow {
  background-color: transparent;
  border-color: #28bd35;
  color: #187120;
}
#ns.success.hollow:hover,
#ns.success.hollow:focus {
  border-color: #28bd35;
  background-color: #d1f5d4;
}
#ns.warning {
  background-color: #e69529;
  border-color: #e69529;
  color: #fff;
}
#ns.warning:not([disabled]):hover,
#ns.warning:not([disabled]):focus {
  background-color: #da881a;
  border-color: #da881a;
}
#ns.warning:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(230,149,41,0.25);
}
#ns.warning:not([disabled]):active {
  border-color: #da881a;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#ns.warning.hollow {
  background-color: transparent;
  border-color: #e69529;
  color: #925a11;
}
#ns.warning.hollow:hover,
#ns.warning.hollow:focus {
  border-color: #e69529;
  background-color: #faead4;
}
#ns.danger {
  background-color: #da3229;
  border-color: #da3229;
  color: #fff;
}
#ns.danger:not([disabled]):hover,
#ns.danger:not([disabled]):focus {
  background-color: #c72b22;
  border-color: #c72b22;
}
#ns.danger:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(218,50,41,0.25);
}
#ns.danger:not([disabled]):active {
  border-color: #c72b22;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#ns.danger.hollow {
  background-color: transparent;
  border-color: #da3229;
  color: #841c17;
}
#ns.danger.hollow:hover,
#ns.danger.hollow:focus {
  border-color: #da3229;
  background-color: #f8d6d4;
}
