#ns {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.15);
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #eee;
  border-color: #eee;
  color: #444;
}
#ns:hover,
#ns:focus {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
#ns:focus {
  box-shadow: 0 0 0 3px rgba(238,238,238,0.25);
}
#ns:active,
#ns.active {
  background-color: #c3c3c3;
  border-color: #d6d6d6;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#ns:hover,
#ns:focus {
  outline: 0;
  text-decoration: none;
}
#ns:active,
#ns.active {
  background-image: none;
  outline: 0;
}
#ns:disabled,
#ns.disabled,
#ns[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
#ns.primary {
  background-color: #2693b3;
  border-color: #2693b3;
  color: #fff;
}
#ns.primary:hover,
#ns.primary:focus {
  background-color: #2284a1;
  border-color: #2284a1;
}
#ns.primary:focus {
  box-shadow: 0 0 0 3px rgba(38,147,179,0.25);
}
#ns.primary:active,
#ns.primary.active {
  background-color: #1f7993;
  border-color: #2284a1;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#ns.success {
  background-color: #28bd35;
  border-color: #28bd35;
  color: #fff;
}
#ns.success:hover,
#ns.success:focus {
  background-color: #24aa30;
  border-color: #24aa30;
}
#ns.success:focus {
  box-shadow: 0 0 0 3px rgba(40,189,53,0.25);
}
#ns.success:active,
#ns.success.active {
  background-color: #219b2b;
  border-color: #24aa30;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#ns.warning {
  background-color: #e69529;
  border-color: #e69529;
  color: #fff;
}
#ns.warning:hover,
#ns.warning:focus {
  background-color: #da881a;
  border-color: #da881a;
}
#ns.warning:focus {
  box-shadow: 0 0 0 3px rgba(230,149,41,0.25);
}
#ns.warning:active,
#ns.warning.active {
  background-color: #c77c17;
  border-color: #da881a;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#ns.danger {
  background-color: #da3229;
  border-color: #da3229;
  color: #fff;
}
#ns.danger:hover,
#ns.danger:focus {
  background-color: #c72b22;
  border-color: #c72b22;
}
#ns.danger:focus {
  box-shadow: 0 0 0 3px rgba(218,50,41,0.25);
}
#ns.danger:active,
#ns.danger.active {
  background-color: #b5271f;
  border-color: #c72b22;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
