#ns {
  border-radius: 3px;
  background-color: #fcfcfc;
  color: #444;
  border-color: #eee;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
#ns .close {
  position: relative;
  top: -0.6rem;
  right: -0.75rem;
  color: #fff;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: transparent;
  -webkit-appearance: none;
  float: right;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 0 1px #000;
  opacity: 0.8;
  box-shadow: none;
}
#ns .close:not([disabled]):active,
#ns .close:not([disabled]):hover,
#ns .close:not([disabled]):focus {
  background-color: transparent;
  border-color: transparent;
  opacity: 1;
  box-shadow: none;
}
