#ns {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  border-collapse: separate;
  border-spacing: 0;
  margin: 1rem 0;
}
#ns thead th,
#ns tfoot th {
  background-color: #f9fafb;
  font-weight: bold;
}
#ns thead tr:first-child > :first-child {
  border-radius: 3px 0 0 0;
}
#ns thead tr:first-child > :last-child {
  border-radius: 0 3px 0 0;
}
#ns thead tr:first-child > :only-child {
  border-radius: 3px 3px 0 0;
}
#ns tfoot tr:last-child > :first-child {
  border-radius: 0 0 0 3px;
}
#ns tfoot tr:last-child > :last-child {
  border-radius: 0 0 3px 0;
}
#ns tfoot tr:first-child > :only-child {
  border-radius: 0 0 3px 3px;
}
#ns thead > tr > *,
#ns tfoot > tr > * {
  padding: 0.6rem 0.4rem;
}
#ns tbody > tr > * {
  padding: 0.4rem;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}
#ns tbody > tr:first-child > * {
  border-top: 1px solid #ddd;
}
#ns thead td,
#ns thead th,
#ns tfoot td,
#ns tfoot th {
  border-left: 1px solid #eee;
  border-top: 1px solid #ddd;
}
#ns thead tr > :first-child,
#ns tfoot tr > :first-child,
#ns tbody tr > :first-child {
  border-left: none;
}
#ns thead tr:first-child>th,
#ns thead tr:first-child>td {
  border-top: none;
}
#ns tbody:first-child > tr:first-child > *,
#ns tfoot:first-child > tr:first-child > * {
  border-top: none;
}
#ns tbody > tr > th:first-child {
  text-align: left;
}
#ns tbody > tr > th:last-child {
  text-align: right;
}
#ns.collapsing {
  width: auto;
}
#ns.frameless {
  border: none;
}
#ns.plain thead th,
#ns.plain tfoot th {
  background-color: transparent;
}
#ns.plain.frameless thead > tr:first-child > *,
#ns.plain.frameless tbody:first-child > tr:first-child > *,
#ns.plain.frameless tfoot:first-child > tr:first-child > * {
  padding-top: 0;
}
#ns.plain.frameless thead > tr > :first-child,
#ns.plain.frameless tbody > tr > :first-child,
#ns.plain.frameless tfoot > tr > :first-child {
  padding-left: 0;
}
#ns.plain.frameless thead > tr > :last-child,
#ns.plain.frameless tbody > tr > :last-child,
#ns.plain.frameless tfoot > tr > :last-child {
  padding-right: 0;
}
#ns.plain.frameless thead:last-child > tr:last-child > *,
#ns.plain.frameless tfoot + :not(tbody) > tr:last-child > *,
#ns.plain.frameless tfoot > tr:last-child > * {
  padding-bottom: 0;
}
#ns.compact thead > tr > *,
#ns.compact tfoot > tr > * {
  padding: 0.3rem 0.2rem;
}
#ns.compact tbody > tr > * {
  padding: 0.2rem;
}
