#ns .size-mini {
  font-size: 0.6rem;
}
#ns .size-tiny {
  font-size: 0.75rem;
}
#ns .size-small {
  font-size: 0.9rem;
}
#ns .size-medium {
  font-size: 1rem;
}
#ns .size-large {
  font-size: 1.2rem;
}
#ns .size-big {
  font-size: 1.4rem;
}
#ns .size-huge {
  font-size: 1.6rem;
}
#ns .size-massive {
  font-size: 2rem;
}
#ns.align-left {
  text-align: left;
}
#ns.align-right {
  text-align: right;
}
#ns.align-center {
  text-align: center;
}
#ns.align-justify {
  text-align: justify;
}
#ns.align-justify {
  text-align: justify;
}
#ns.align-start {
  text-align: start;
}
#ns.align-end {
  text-align: end;
}
#ns.align-match {
  text-align: match;
}
#ns.valign-baseline {
  vertical-align: baseline;
}
#ns.valign-sub {
  vertical-align: sub;
}
#ns.valign-super {
  vertical-align: super;
}
#ns.valign-text {
  vertical-align: text;
}
#ns.valign-text {
  vertical-align: text;
}
#ns.valign-middle {
  vertical-align: middle;
}
#ns.valign-top {
  vertical-align: top;
}
#ns.valign-bottom {
  vertical-align: bottom;
}
