.tiki_tk-element .size-mini {
  font-size: 0.6rem;
}
.tiki_tk-element .size-tiny {
  font-size: 0.75rem;
}
.tiki_tk-element .size-small {
  font-size: 0.9rem;
}
.tiki_tk-element .size-medium {
  font-size: 1rem;
}
.tiki_tk-element .size-large {
  font-size: 1.2rem;
}
.tiki_tk-element .size-big {
  font-size: 1.4rem;
}
.tiki_tk-element .size-huge {
  font-size: 1.6rem;
}
.tiki_tk-element .size-massive {
  font-size: 2rem;
}
.tiki_tk-element.align-left {
  text-align: left;
}
.tiki_tk-element.align-right {
  text-align: right;
}
.tiki_tk-element.align-center {
  text-align: center;
}
.tiki_tk-element.align-justify {
  text-align: justify;
}
.tiki_tk-element.align-justify {
  text-align: justify;
}
.tiki_tk-element.align-start {
  text-align: start;
}
.tiki_tk-element.align-end {
  text-align: end;
}
.tiki_tk-element.align-match {
  text-align: match;
}
.tiki_tk-element.valign-baseline {
  vertical-align: baseline;
}
.tiki_tk-element.valign-sub {
  vertical-align: sub;
}
.tiki_tk-element.valign-super {
  vertical-align: super;
}
.tiki_tk-element.valign-text {
  vertical-align: text;
}
.tiki_tk-element.valign-text {
  vertical-align: text;
}
.tiki_tk-element.valign-middle {
  vertical-align: middle;
}
.tiki_tk-element.valign-top {
  vertical-align: top;
}
.tiki_tk-element.valign-bottom {
  vertical-align: bottom;
}
.tiki_box-element {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.tiki_box-element.info {
  background-color: #cfecf5;
  color: #17586b;
  border-color: #6ec6e0;
}
.tiki_box-element.success {
  background-color: #d1f5d4;
  color: #187120;
  border-color: #74e27d;
}
.tiki_box-element.warning {
  background-color: #faead4;
  color: #925a11;
  border-color: #f0bf7f;
}
.tiki_box-element.danger {
  background-color: #f8d6d4;
  color: #841c17;
  border-color: #e9847f;
}
.tiki_box-element.info.inverted {
  background-color: #17586b;
  color: #6ec6e0;
  border-color: #cfecf5;
}
.tiki_box-element.success.inverted {
  background-color: #187120;
  color: #74e27d;
  border-color: #d1f5d4;
}
.tiki_box-element.warning.inverted {
  background-color: #925a11;
  color: #f0bf7f;
  border-color: #faead4;
}
.tiki_box-element.danger.inverted {
  background-color: #841c17;
  color: #e9847f;
  border-color: #f8d6d4;
}
.tiki_box-element.contrast {
  color: #000;
}
.tiki_box-element.contrast.inverted {
  color: #fff;
}
.tiki_box-element.hollow {
  background-color: #fff;
}
.tiki_box-element.spacer {
  visibility: hidden;
}
.tiki_table {
  width: 100%;
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 0;
  margin: 1rem 0;
  border-radius: 3px 3px 3px 3px;
}
.tiki_table thead > tr > th,
.tiki_table tfoot > tr > th {
  background-color: #f9fafb;
  font-weight: bold;
}
.tiki_table thead > tr:first-child > :first-child {
  border-radius: 3px 0 0 0;
}
.tiki_table thead > tr:first-child > :last-child {
  border-radius: 0 3px 0 0;
}
.tiki_table thead > tr:first-child > :only-child {
  border-radius: 3px 3px 0 0;
}
.tiki_table tfoot > tr:last-child > :first-child {
  border-radius: 0 0 0 3px;
}
.tiki_table tfoot > tr:last-child > :last-child {
  border-radius: 0 0 3px 0;
}
.tiki_table tfoot > tr:first-child > :only-child {
  border-radius: 0 0 3px 3px;
}
.tiki_table thead > tr > *,
.tiki_table tfoot > tr > * {
  padding: 0.6rem 0.4rem;
}
.tiki_table tbody > tr > * {
  padding: 0.3rem 0.4rem;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}
.tiki_table tbody > tr:first-child > * {
  border-top: 1px solid #ddd;
}
.tiki_table thead > tr > *,
.tiki_table tfoot > tr > * {
  border-left: 1px solid #eee;
  border-top: 1px solid #ddd;
}
.tiki_table thead:last-child > tr:last-child > *,
.tiki_table tbody:last-child > tr:last-child > *,
.tiki_table tfoot > tr:last-child > * {
  border-bottom: 1px solid #ddd;
}
.tiki_table thead > tr > :first-child,
.tiki_table tbody > tr > :first-child,
.tiki_table tfoot > tr > :first-child {
  border-left: 1px solid #ddd;
}
.tiki_table thead > tr > :last-child,
.tiki_table tbody > tr > :last-child,
.tiki_table tfoot > tr > :last-child {
  border-right: 1px solid #ddd;
}
.tiki_table tfoot + tbody:last-child > tr:last-child > * {
  border-bottom: none;
}
.tiki_table tbody > tr > th:first-child {
  text-align: left;
}
.tiki_table tbody > tr > th:last-child {
  text-align: right;
}
.tiki_table.collapsing {
  width: auto;
}
.tiki_table.frameless thead > tr > :first-child,
.tiki_table.frameless tbody > tr > :first-child,
.tiki_table.frameless tfoot > tr > :first-child {
  border-left: none;
}
.tiki_table.frameless thead > tr > :last-child,
.tiki_table.frameless tbody > tr > :last-child,
.tiki_table.frameless tfoot > tr > :last-child {
  border-right: none;
}
.tiki_table.frameless thead > tr:first-child > * {
  border-top: none;
}
.tiki_table.frameless thead:only-child > tr:last-child > * {
  border-bottom: none;
}
.tiki_table.frameless tfoot > tr:last-child > * {
  border-bottom: none;
}
.tiki_table.frameless tfoot:only-child > tr:last-child > * {
  border-top: none;
}
.tiki_table.frameless tbody:first-child > tr:first-child > * {
  border-top: none;
}
.tiki_table.frameless tfoot > tr > :last-child {
  border-right: none;
}
.tiki_table.frameless :not(tfoot) + tbody:last-child > tr:last-child > * {
  border-bottom: none;
}
.tiki_table.frameless tbody:only-child > tr:last-child > * {
  border-bottom: none;
}
.tiki_table.plain thead th,
.tiki_table.plain tfoot th {
  background-color: transparent;
}
.tiki_table.plain.frameless thead > tr:first-child > *,
.tiki_table.plain.frameless tbody:first-child > tr:first-child > *,
.tiki_table.plain.frameless tfoot:first-child > tr:first-child > * {
  padding-top: 0;
}
.tiki_table.plain.frameless thead > tr > :first-child,
.tiki_table.plain.frameless tbody > tr > :first-child,
.tiki_table.plain.frameless tfoot > tr > :first-child {
  padding-left: 0;
}
.tiki_table.plain.frameless thead > tr > :last-child,
.tiki_table.plain.frameless tbody > tr > :last-child,
.tiki_table.plain.frameless tfoot > tr > :last-child {
  padding-right: 0;
}
.tiki_table.plain.frameless thead:last-child > tr:last-child > *,
.tiki_table.plain.frameless tfoot + :not(tbody) > tr:last-child > *,
.tiki_table.plain.frameless tfoot > tr:last-child > * {
  padding-bottom: 0;
}
.tiki_table.compact thead > tr > *,
.tiki_table.compact tfoot > tr > * {
  padding: 0.3rem 0.2rem;
}
.tiki_table.compact tbody > tr > * {
  padding: 0.15rem 0.2rem;
}
.tiki_nav {
  background-color: #fff;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.tiki_nav::after {
  clear: both;
  content: "";
  display: table;
}
.tiki_nav .nav-link {
  color: #2693b3;
}
.tiki_nav.inline .nav-item {
  float: left;
}
.tiki_nav.inline .nav-item + .nav-item {
  margin-left: 1rem;
}
.tiki_nav.tabs .nav-item + .nav-item,
.tiki_nav.pills .nav-item + .nav-item {
  margin-left: 0;
}
.tiki_nav.tabs .nav-link,
.tiki_nav.pills .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.tiki_nav.tabs {
  border-bottom: 1px solid #bbb;
}
.tiki_nav.tabs .nav-link {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid transparent;
  margin-bottom: -1px;
}
.tiki_nav.tabs .nav-link.active {
  background-color: #fff;
  border-color: #bbb #bbb #fff;
  color: #2693b3;
}
.tiki_nav.pills .nav-link {
  border-radius: 3px;
}
.tiki_nav.pills .nav-link.active {
  background-color: #2693b3;
  color: #fff;
}
.tiki_message {
  border-radius: 3px;
  background-color: #fcfcfc;
  color: #444;
  border-color: #eee;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.tiki_message .close {
  position: relative;
  top: -0.6rem;
  right: -0.75rem;
  color: #fff;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: transparent;
  -webkit-appearance: none;
  float: right;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 0 1px #000;
  opacity: 0.8;
  box-shadow: none;
}
.tiki_message .close:not([disabled]):active,
.tiki_message .close:not([disabled]):hover,
.tiki_message .close:not([disabled]):focus {
  background-color: transparent;
  border-color: transparent;
  opacity: 1;
  box-shadow: none;
}
.tiki_menu-item {
  padding: 0.25rem 2rem;
}
.tiki_menu-item.menu-action {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
.tiki_menu-item.menu-action:hover {
  background-color: #eee;
}
.tiki_menu-item.menu-action.disabled {
  background-color: #fff;
  cursor: not-allowed;
  opacity: 0.5;
}
.tiki_menu-item.menu-label {
  background-color: #fff;
  color: #333;
}
.tiki_menu-item.menu-separator {
  border-bottom: 1px solid #eee;
  margin: 0.25rem 0;
  padding: 0;
}
.tiki_menu {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  float: left;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.15);
  color: #333;
  padding: 0.25rem 0;
}
.tiki_button {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.15);
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  padding: 0.5em 1em;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #eee;
  border-color: #eee;
  color: #444;
}
.tiki_button:not([disabled]):hover,
.tiki_button:not([disabled]):focus {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
.tiki_button:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(238,238,238,0.25);
}
.tiki_button:not([disabled]):active {
  border-color: #d6d6d6;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.tiki_button.hollow {
  background-color: transparent;
  border-color: #444;
  color: #292929;
}
.tiki_button.hollow:hover,
.tiki_button.hollow:focus {
  border-color: #444;
  background-color: #dadada;
}
.tiki_button:hover,
.tiki_button:focus {
  outline: 0;
  text-decoration: none;
}
.tiki_button:active {
  background-image: none;
  outline: 0;
}
.tiki_button:disabled,
.tiki_button[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.5;
}
.tiki_button.compact {
  padding: 0.25em 0.5em;
}
.tiki_button.style-primary {
  background-color: #2693b3;
  border-color: #2693b3;
  color: #fff;
}
.tiki_button.style-primary:not([disabled]):hover,
.tiki_button.style-primary:not([disabled]):focus {
  background-color: #2284a1;
  border-color: #2284a1;
}
.tiki_button.style-primary:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(38,147,179,0.25);
}
.tiki_button.style-primary:not([disabled]):active {
  border-color: #2284a1;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.tiki_button.style-primary.hollow {
  background-color: transparent;
  border-color: #2693b3;
  color: #17586b;
}
.tiki_button.style-primary.hollow:hover,
.tiki_button.style-primary.hollow:focus {
  border-color: #2693b3;
  background-color: #cfecf5;
}
.tiki_button.style-success {
  background-color: #28bd35;
  border-color: #28bd35;
  color: #fff;
}
.tiki_button.style-success:not([disabled]):hover,
.tiki_button.style-success:not([disabled]):focus {
  background-color: #24aa30;
  border-color: #24aa30;
}
.tiki_button.style-success:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(40,189,53,0.25);
}
.tiki_button.style-success:not([disabled]):active {
  border-color: #24aa30;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.tiki_button.style-success.hollow {
  background-color: transparent;
  border-color: #28bd35;
  color: #187120;
}
.tiki_button.style-success.hollow:hover,
.tiki_button.style-success.hollow:focus {
  border-color: #28bd35;
  background-color: #d1f5d4;
}
.tiki_button.style-warning {
  background-color: #e69529;
  border-color: #e69529;
  color: #fff;
}
.tiki_button.style-warning:not([disabled]):hover,
.tiki_button.style-warning:not([disabled]):focus {
  background-color: #da881a;
  border-color: #da881a;
}
.tiki_button.style-warning:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(230,149,41,0.25);
}
.tiki_button.style-warning:not([disabled]):active {
  border-color: #da881a;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.tiki_button.style-warning.hollow {
  background-color: transparent;
  border-color: #e69529;
  color: #925a11;
}
.tiki_button.style-warning.hollow:hover,
.tiki_button.style-warning.hollow:focus {
  border-color: #e69529;
  background-color: #faead4;
}
.tiki_button.style-danger {
  background-color: #da3229;
  border-color: #da3229;
  color: #fff;
}
.tiki_button.style-danger:not([disabled]):hover,
.tiki_button.style-danger:not([disabled]):focus {
  background-color: #c72b22;
  border-color: #c72b22;
}
.tiki_button.style-danger:not([disabled]):focus {
  box-shadow: 0 0 0 3px rgba(218,50,41,0.25);
}
.tiki_button.style-danger:not([disabled]):active {
  border-color: #c72b22;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.tiki_button.style-danger.hollow {
  background-color: transparent;
  border-color: #da3229;
  color: #841c17;
}
.tiki_button.style-danger.hollow:hover,
.tiki_button.style-danger.hollow:focus {
  border-color: #da3229;
  background-color: #f8d6d4;
}
.tiki_tk-empty-element .size-mini {
  font-size: 0.6rem;
}
.tiki_tk-empty-element .size-tiny {
  font-size: 0.75rem;
}
.tiki_tk-empty-element .size-small {
  font-size: 0.9rem;
}
.tiki_tk-empty-element .size-medium {
  font-size: 1rem;
}
.tiki_tk-empty-element .size-large {
  font-size: 1.2rem;
}
.tiki_tk-empty-element .size-big {
  font-size: 1.4rem;
}
.tiki_tk-empty-element .size-huge {
  font-size: 1.6rem;
}
.tiki_tk-empty-element .size-massive {
  font-size: 2rem;
}
.tiki_ribbon {
  left: -1.6rem;
  position: relative;
  border-radius: 0.3rem 0.3rem 0.3rem 0;
  display: inline-block;
  line-height: 1;
  background-color: #e0e0e0;
  padding: 0.5rem 0.9rem;
  color: rgba(0,0,0,0.6);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
}
.tiki_ribbon:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 0 1.2em 0.6em 0;
  border-color: transparent;
  border-right-color: #c0c0c0;
}
