body {
  background: #f0f0f2;
}
article {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
section {
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}
section .section-title {
  border-bottom: 1px solid #f0f0f2;
  padding: 10px 20px;
}
section .section-body {
  padding: 20px;
}
section .section-body::after {
  clear: both;
  content: "";
  display: table;
}
section .example-inline {
  display: inline-block;
  margin-right: 10px;
}
