html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
[tabindex="-1"]:focus {
  outline: none !important;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px solid #888;
  cursor: help;
  text-decoration: underline;
  text-decoration: underline dotted;
}
address {
  font-style: normal;
  line-height: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
textarea {
  resize: vertical;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
[role="button"] {
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}
legend {
  border: 0;
  line-height: inherit;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
html {
  font-size: 16px;
}
body {
  background-color: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
}
a {
  color: #2693b3;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2ba7cb;
  text-decoration: underline;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
blockquote {
  margin: 0 0 1rem;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
figure {
  margin: 0 0 1rem;
}
address {
  margin-bottom: 1rem;
}
legend {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}
hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  margin-top: 0;
  margin-bottom: 2rem;
}
.btn {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.15);
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #eee;
  border-color: #eee;
  color: #444;
}
.btn:hover,
.btn:focus {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
.btn:focus {
  box-shadow: 0 0 0 3px rgba(238,238,238,0.25);
}
.btn:active,
.btn.active {
  background-color: #c3c3c3;
  border-color: #d6d6d6;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.btn:hover,
.btn:focus {
  outline: 0;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
}
.btn:disabled,
.btn.disabled,
.btn[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.btn-primary {
  background-color: #2693b3;
  border-color: #2693b3;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2284a1;
  border-color: #2284a1;
}
.btn-primary:focus {
  box-shadow: 0 0 0 3px rgba(38,147,179,0.25);
}
.btn-primary:active,
.btn-primary.active {
  background-color: #1f7993;
  border-color: #2284a1;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.btn-success {
  background-color: #28bd35;
  border-color: #28bd35;
  color: #fff;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #24aa30;
  border-color: #24aa30;
}
.btn-success:focus {
  box-shadow: 0 0 0 3px rgba(40,189,53,0.25);
}
.btn-success:active,
.btn-success.active {
  background-color: #219b2b;
  border-color: #24aa30;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.btn-warning {
  background-color: #e69529;
  border-color: #e69529;
  color: #fff;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #da881a;
  border-color: #da881a;
}
.btn-warning:focus {
  box-shadow: 0 0 0 3px rgba(230,149,41,0.25);
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c77c17;
  border-color: #da881a;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.btn-danger {
  background-color: #da3229;
  border-color: #da3229;
  color: #fff;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c72b22;
  border-color: #c72b22;
}
.btn-danger:focus {
  box-shadow: 0 0 0 3px rgba(218,50,41,0.25);
}
.btn-danger:active,
.btn-danger.active {
  background-color: #b5271f;
  border-color: #c72b22;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
