@import "variables"
@import "mixins"

#ns
  border-width $btn-border-width
  border-style solid
  border-radius $btn-border-radius
  box-shadow $btn-box-shadow
  cursor pointer
  display inline-block
  font-weight $btn-font-weight
  line-height $btn-line-height
  padding $btn-padding-y $btn-padding-x
  text-align center
  user-select none
  vertical-align middle
  white-space nowrap
  button-variant($btn-default-color, $btn-default-bg, $btn-default-border)
  &.hollow
    button-variant-hollow($gray-dark)

  &:hover
  &:focus
    outline 0
    text-decoration none

  &:active
  &.active
    background-image none
    outline 0

  &:disabled
  &[disabled]
    box-shadow none
    cursor $cursor-disabled
    opacity 0.5

  &.primary
    button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
    &.hollow
      button-variant-hollow($primary)

  &.success
    button-variant($btn-success-color, $btn-success-bg, $btn-success-border)
    &.hollow
      button-variant-hollow($success)

  &.warning
    button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border)
    &.hollow
      button-variant-hollow($warning)

  &.danger
    button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border)
    &.hollow
      button-variant-hollow($danger)
