@import "variables"

#ns
  list-style none
  margin-bottom 0
  padding-left 0
  float left

  background-color $menu-bg
  border $menu-border-width solid $menu-border-color
  border-radius $menu-border-radius
  box-shadow $menu-box-shadow
  color $menu-color
  padding $menu-padding
