@import "variables"

#ns
  // sizes
  .size-mini
    font-size: $size-mini
  .size-tiny
    font-size: $size-tiny
  .size-small
    font-size: $size-small
  .size-medium
    font-size: $size-medium
  .size-large
    font-size: $size-large
  .size-big
    font-size: $size-big
  .size-huge
    font-size: $size-huge
  .size-massive
    font-size: $size-massive

  // alignments
  &.align-left
    text-align: left
  &.align-right
    text-align: right
  &.align-center
    text-align: center
  &.align-justify
    text-align: justify
  &.align-justify
    text-align: justify
  &.align-start
    text-align: start
  &.align-end
    text-align: end
  &.align-match
    text-align: match

  &.valign-baseline
    vertical-align: baseline
  &.valign-sub
    vertical-align: sub
  &.valign-super
    vertical-align: super
  &.valign-text
    vertical-align: text
  &.valign-text
    vertical-align: text
  &.valign-middle
    vertical-align: middle
  &.valign-top
    vertical-align: top
  &.valign-bottom
    vertical-align: bottom
