@import "variables"

#ns
  // sizes
  .size-mini
    font-size: $size-mini
  .size-tiny
    font-size: $size-tiny
  .size-small
    font-size: $size-small
  .size-medium
    font-size: $size-medium
  .size-large
    font-size: $size-large
  .size-big
    font-size: $size-big
  .size-huge
    font-size: $size-huge
  .size-massive
    font-size: $size-massive
