// Base Tiki styles
// --------------------------------

// Unlike `reset.styl`, these base styles are specific to Tiki's styling
// preferences. This document sets a variety of fonts, colors, and spacing as
// specified in `variables.styl`.

html
  font-size $font-size-base

body
  background-color $body-bg
  color $text-color
  font-family $font-family-base
  line-height $line-height-base

a
  color $link-color
  text-decoration $link-decoration

  &:hover
  &:focus
    color $link-hover-color
    text-decoration $link-hover-decoration

  // TODO: focus outline

p
  margin-top 0
  margin-bottom $paragraph-margin-bottom

ol
ul
  margin-top 0
  margin-bottom $list-margin-bottom

ol ol
ol ul
ul ol
ul ul
  margin-bottom 0

h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6
  color $heading-color
  font-family $heading-font-family
  font-weight $heading-font-weight
  line-height $heading-line-height
  margin-top 0
  margin-bottom $heading-margin-bottom

h1, .h1
  font-size $heading-1-size

h2, .h2
  font-size $heading-2-size

h3, .h3
  font-size $heading-3-size

h4, .h4
  font-size $heading-4-size

h5, .h5
  font-size $heading-5-size

h6, .h6
  font-size $heading-6-size
