// Colors
// --------------------------------

$primary                 = #2693b3
$success                 = #28bd35
$warning                 = #e69529
$danger                  = #da3229

$black                   = #000
$gray-darkest            = #222
$gray-darker             = #333
$gray-dark               = #444
$gray                    = #888
$gray-lighter            = #bbb
$gray-lightest           = #eee
$white                   = #fff

$body-bg                 = $white
$text-color              = $gray-darker
$hr-border-color         = rgba(0,0,0,0.1)



// Spacing
// --------------------------------

$spacer                  = 1rem
$default-margin-bottom   = $spacer
$half-margin-bottom      = ($spacer / 2)
$double-margin-bottom    = ($spacer * 2)

$floated-margin-left     = $spacer



// Fonts and sizes
// --------------------------------

// families (from Bootstrap 4)
$font-family-sans-serif  = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif
$font-family-serif       = Georgia, "Times New Roman", Times, serif
$font-family-monospace   = Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
$font-family-base        = $font-family-sans-serif

// sizes and weights
$line-height-base        = 1.4
$font-size-base          = 16px



// Links
// --------------------------------

$link-color              = $primary
$link-decoration         = none
$link-hover-color        = lighten($link-color, 10%)
$link-hover-decoration   = underline



// Headings
// --------------------------------

$heading-color           = inherit
$heading-font-family     = inherit
$heading-font-weight     = 500
$heading-line-height     = 1.1

$heading-1-size          = 2.5rem
$heading-2-size          = 2rem
$heading-3-size          = 1.75rem
$heading-4-size          = 1.5rem
$heading-5-size          = 1.25rem
$heading-6-size          = 1rem



// Misc defaults
// --------------------------------

$border-radius           = 3px
$border-width            = 1px
$box-shadow-shallow      = 1px 1px 0px rgba(0,0,0,0.15)
$box-shadow-inset        = inset 0 1px 2px rgba(0,0,0,0.2)

$cursor-disabled         = not-allowed



// Buttons
// --------------------------------

$btn-font-weight         = normal
$btn-line-height         = 1.25
$btn-border-width        = $border-width
$btn-border-radius       = $border-radius
$btn-box-shadow          = $box-shadow-shallow
$btn-active-box-shadow   = $box-shadow-inset

$btn-padding-x           = 1rem
$btn-padding-y           = 0.5rem

$btn-default-bg          = $gray-lightest
$btn-default-color       = $gray-dark
$btn-default-border      = $btn-default-bg

$btn-primary-bg          = $primary
$btn-primary-color       = $white
$btn-primary-border      = $btn-primary-bg

$btn-success-bg          = $success
$btn-success-color       = $white
$btn-success-border      = $btn-success-bg

$btn-warning-bg          = $warning
$btn-warning-color       = $white
$btn-warning-border      = $btn-warning-bg

$btn-danger-bg           = $danger
$btn-danger-color        = $white
$btn-danger-border       = $btn-danger-bg

// Navs
// --------------------------------
$nav-bg                    = $white
$nav-link-color            = $link-color

$nav-link-block-padding-x  = 1rem
$nav-link-block-padding-y  = 0.5rem

$tab-border-width          = 1px
$tab-border-bottom-color   = $gray-lighter
$tab-active-border-color   = $gray-lighter $gray-lighter $nav-bg
$tab-active-bg             = $white
$tab-active-color          = $nav-link-color

$pill-active-bg            = $primary
$pill-active-color         = $white


// Message
// --------------------------------
$message-lighten        = 80%
$message-lighten-border = 40%
$message-darken         = 40%
$message-default-bg     = lighten($gray-lightest, $message-lighten)
$message-default-border = $gray-lightest
$message-default-color  = $gray-dark
$message-padding-x      = 1rem
$message-padding-y      = 0.5rem
$message-margin         = 1rem

$message-info-bg        = lighten($primary, $message-lighten)
$message-info-color     = darken($primary, $message-darken)
$message-info-border    = lighten($primary, $message-lighten-border)
$message-success-bg     = lighten($success, $message-lighten)
$message-success-color  = darken($success, $message-darken)
$message-success-border = lighten($success, $message-lighten-border)
$message-warning-bg     = lighten($warning, $message-lighten)
$message-warning-color  = darken($warning, $message-darken)
$message-warning-border = lighten($warning, $message-lighten-border)
$message-danger-bg      = lighten($danger, $message-lighten)
$message-danger-color   = darken($danger, $message-darken)
$message-danger-border  = lighten($danger, $message-lighten-border)
